<form class="{{cssClass}}" autocomplete="off">
  <header class="container-fluid" ondragstart="return false;" ondrop="return false;">
    <div class="row">
      <div class="col-4 col-lg-2 characterImage">
        <img class="" src="{{actor.img}}" title="{{actor.name}}" data-edit="img">
      </div>
      <div class="col-6 col-lg-10 ">
        <div class="row">
          <div class="col-12">
            <label class="nameField">
              <input name="name" type="text" value="{{actor.name}}"
                     placeholder="{{localize 'Character Name'}}">
              <span>{{localize "SHEET.Name"}}</span>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-6">
            <label>
              <input name="system.info.player.value" type="text" value="{{system.info.player.value}}"
                     placeholder="{{localize 'SHEET.Player'}}"
              >
              <span>{{localize "SHEET.Player"}}</span>
            </label>
          </div>
          <div class="col-12 col-lg-6">
            <label>
              <input name="system.info.membership.value" type="text" value="{{system.info.membership.value}}"
                     placeholder="{{localize 'SHEET.Membership'}}"
              >
              <span>{{localize "SHEET.Membership"}}</span>
            </label>
          </div>
          <div class="col-12 col-lg-6">
            <label>
              <input name="system.info.graderank.value" type="text" value="{{system.info.graderank.value}}"
                     placeholder="{{localize 'SHEET.GradeRank'}}"
              >
              <span>{{localize "SHEET.GradeRank"}}</span>
            </label>
          </div>
          <div class="col-12 col-lg-6">
            <label>
              <input name="system.info.department.value" type="text" value="{{system.info.department.value}}"
                     placeholder="{{localize 'SHEET.Department'}}"
              >
              <span>{{localize "SHEET.Department"}}</span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6">
        {{> systems/xenophobia/templates/charactersheet/partials/attributes.html}}
      </div>
      <div class="col-12 col-lg-6">
        {{> systems/xenophobia/templates/charactersheet/partials/status.html}}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {{> systems/xenophobia/templates/charactersheet/partials/skills.html}}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {{> systems/xenophobia/templates/charactersheet/partials/weapons.html}}
      </div>
      <div class="col-12 col-lg-6">
        {{> systems/xenophobia/templates/charactersheet/partials/perks.html}}
      </div>
      <div class="col-12 col-lg-6">
        {{> systems/xenophobia/templates/charactersheet/partials/powers.html}}
      </div>
      <div class="col-12 col-lg-6">
        {{> systems/xenophobia/templates/charactersheet/partials/equipment.html}}
      </div>
      <div class="col-12 col-lg-6">
        {{> systems/xenophobia/templates/charactersheet/partials/houses.html}}
      </div>
    </div>
</form>
