<div class="container-fluid skill-test">
  <div class="row">
    <div class="col-12">
      <h2>
        {{localize 'TEST.SelectAttr'}}
      </h2>
    </div>
  </div>
  <div class="row">
    {{#each attributes as |sk s|}}
    <div class="col">
      <button class="select-attribute" data-attr="{{s}}">{{localize sk.label}}</button>
    </div>
    {{/each}}
  </div>
  <div class="row">
    <div class="col-12">
      <h2>
        {{localize 'TEST.RollAttributes'}}
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      {{localize 'TEST.BonusModifier'}}
    </div>
    <div class="col-6">
      <input type="number" value="0" class="bonusModifier" step="1" min="-99" max="99">
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      {{localize 'TEST.ScaryModifier'}}
    </div>
    <div class="col-6">
      <strong>{{thresholdScary}}</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      {{localize 'TEST.Threshold'}}
    </div>
    <div class="col-6">
      <strong class="green thresholdSum">{{thresholdSum}}</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      {{localize 'TEST.RollType'}}
    </div>
    <div class="col-6">
      <select class="roll-mode">
        <option value="publicroll">{{localize 'TEST.PublicRoll'}}</option>
        <option value="gmroll">{{localize 'TEST.GMRoll'}}</option>
        <option value="blindroll">{{localize 'TEST.BlindRoll'}}</option>
        <option value="selfroll">{{localize 'TEST.SelfRoll'}}</option>
      </select>
    </div>
  </div>
</div>
