<h2>{{localize "SHEET.AttributesHeading"}}</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 tableitems tableskill">
      <div class="row tableheading">
        <div class="col-9 text-right">{{localize "SHEET.AttributeLabel"}}</div>
        <div class="col-3">{{localize "SHEET.ScoreLabel"}}</div>
      </div>
    {{#each system.attributes as |sk s|}}
      <div class="row tablerow">
        <div class="col-9 tableheader">
          <span>{{localize sk.label}}</span>
        </div>
        <div class="col-3 tableinput">
          <input class="changeAttrValue" value="{{sk.value}}" type="number" step="1" min="4" max="10" data-attr="{{s}}">
        </div>
      </div>
    {{/each}}
    </div>
  </div>
</div>
