<div class="container-fluid">
  <div class="row">
    <h2 class="col">
      {{localize 'SHEET.Powers'}}
    </h2>
  </div>
  <div class="tablebackgrounds tableitems">
    <div class="row tableheading">
      <div class="col-9">
        {{localize 'SHEET.PowersLabel'}}
      </div>
      <div class="col-3">
        {{localize 'SHEET.Actions'}}
      </div>
    </div>
    <section class="background-list item-list">
      {{#each items as |item id|}}
      {{#if (eq item.type "Powers")}}
      <div class="row tablerow">
        <div class="col-9 tableheader">
          <a class="onChangeActiveDescription">{{item.name}}</a>
        </div>
        <div class="col-3 tableinput">
          <a class="clickRemoveItem" data-id="{{item._id}}">
            <i class="fas fa-trash"></i>
          </a>
        </div>
        <div class="col-12 tabledescripion">
          <div>
            {{{item.system.details.description.value}}}
            {{#if item.system.notes.value}}
            <div class="backgroundBonusesDescription">
              <p>
                {{localize "ITEM.Notes"}}: {{item.system.notes.value}}
              </p>
            </div>
            {{/if}}
          </div>
        </div>
      </div>
      {{/if}}
      {{/each}}
    </section>
  </div>
</div>
