<h2>{{localize "SHEET.SkillsHeading"}}</h2>
<div class="container-fluid">
  <div class="row">
    {{#each system.skills as |sk s|}}
    <div class="col tableitems tableskill">
      <div class="row tableheading">
        <div class="col-9 text-right">{{localize "SHEET.SkillLabel"}}</div>
        <div class="col-3">{{localize "SHEET.ScoreLabel"}}</div>
      </div>
      {{#each sk.skills as |skillObject skillKey|}}
      <div class="row tablerow">
        <div class="col-9 tableheader">
          <a class="skill-roll" data-skill="{{skillKey}}" data-section="{{s}}"
             {{#if (eq skillObject.main 1)}}
             data-main="1"
             {{/if}}
          >{{localize skillObject.label}}</a>
        </div>
        <div class="col-3 tableinput">
          <input class="changeSkillValue" value="{{skillObject.value}}" type="number" step="1" min="{{skillObject.min}}" max="{{skillObject.max}}" data-skill="{{skillKey}}" data-section="{{s}}">
        </div>
      </div>
      {{/each}}
    </div>
    {{/each}}
  </div>
</div>
