<h2>{{localize "SHEET.Status"}}</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 tableitems tableskill">
      <div class="row tableheading">
        <div class="col-9 text-right">{{localize "SHEET.StatusLabel"}}</div>
        <div class="col-3">{{localize "SHEET.ScoreLabel"}}</div>
      </div>
      <div class="row tablerow">
        <div class="col-9 tableheader">
          <span>{{localize "SHEET.HP"}}</span>
        </div>
        <div class="col-3 tableinput">
          <input name="system.status.hp.value" value="{{system.status.hp.value}}" type="number" step="1">
        </div>
      </div>
      <div class="row tablerow">
        <div class="col-9 tableheader">
          <span>{{localize "SHEET.WP"}}</span>
        </div>
        <div class="col-3 tableinput">
          <input name="system.status.wp.value" value="{{system.status.wp.value}}" type="number" step="1">
        </div>
      </div>
      <div class="row tablerow">
        <div class="col-9 tableheader">
          <span>{{localize "SHEET.Armor"}}</span>
        </div>
        <div class="col-3 tableinput">
          <input name="system.status.armor.value" value="{{system.status.armor.value}}" type="number" step="1">
        </div>
      </div>
      <div class="row tablerow">
        <div class="col-9 tableheader">
          <span>{{localize "SHEET.Fear"}}</span>
        </div>
        <div class="col-3 tableinput">
          <input name="system.status.fear.value" value="{{system.status.fear.value}}" type="number" step="1">
        </div>
      </div>
    </div>
  </div>
</div>
