<div class="chatMessage">
  {{#if actorName}}
  <div class="actor">
    <div class="image" style="background-image: url({{actorImage}});"></div>
    <div class="name">
      {{actorName}}
    </div>
  </div>
  {{/if}}
  <div>
    <div>
      <strong>{{title}}</strong>
    </div>
    <p class="testResult">
      {{localize 'CHAT.TestResult'}}
      {{#if successes}}
      <strong class="success">
        {{#if (eq successes 1)}}
          {{successes}} {{localize 'CHAT.TestSuccess'}}
        {{else}}
          {{successes}} {{localize 'CHAT.TestSuccesses'}}
        {{/if}}
      </strong>
      {{else}}
      <strong class="failure">
        {{successes}} {{localize 'CHAT.TestSuccess0'}}
      </strong>
      {{/if}}
    </p>
    <p class="testResult">
      {{localize "CHAT.Threshold"}}: <strong>{{threshold}}</strong>
    </p>
    <div class="rolls">
      <div class="roll">
        <div class="backgroundBonusesDescription">
          {{localize "CHAT.Roll1"}}
        </div>
        <div class="main-roll rollshape {{#if roll1success}}
        success
        {{/if}}">
          <span>
            {{roll1}}
          </span>
        </div>
        <div class="sub-rolls">
          <div class="sub-roll rollshape">
            <span>
              {{roll11}}
            </span>
          </div>
          <div class="sub-roll rollshape">
            <span>
              {{roll12}}
            </span>
          </div>
        </div>
        {{#if canReRoll}}
        <div class="buttons">
          <a class="reroll" data-reroll="1"><i class="fa-solid fa-dice-d10"></i> {{localize 'CHAT.Reroll'}}</a>
        </div>
        {{/if}}
      </div>
      <div class="roll">
        <div class="backgroundBonusesDescription">
          {{localize "CHAT.Roll2"}}
        </div>
        <div class="main-roll rollshape
        {{#if roll2success}}
        success
        {{/if}}">
            <span>
              {{roll2}}
            </span>
        </div>
        <div class="sub-rolls">
          <div class="sub-roll rollshape">
            <span>
              {{roll21}}
            </span>
          </div>
          <div class="sub-roll rollshape">
            <span>
              {{roll22}}
            </span>
          </div>
        </div>
        {{#if canReRoll}}
        <div class="buttons">
          <a class="reroll" data-reroll="2"><i class="fa-solid fa-dice-d10"></i> {{localize 'CHAT.Reroll'}}</a>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
