/** 0. Settings **/

$gutter: .2rem;
$default-color: #331212;

$window-background-color: #ffffff;
$sheet-tabs-gradient: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,179,179,1) 100%);
$active-tab-background: #701212;
$active-tab-color: #ffffff;

$personal-info-gradient: linear-gradient(90deg, rgba(255,179,179,1) 0%, rgba(255,255,255,1) 100%);
$default-heading-gradient: linear-gradient(90deg, #331212 0%, #501212 100%);
$default-heading-color: #ffffff;
$karma-heading-gradient: linear-gradient(90deg, rgba(86,36,133,1) 0%, rgba(101,73,150,1) 100%);
$karma-input-gradient: linear-gradient(90deg, rgba(197,191,220,1) 0%, rgba(255,255,255,1) 100%);
$endurance-heading-gradient: linear-gradient(90deg, rgba(226,73,15,1) 0%, rgba(244,163,0,1) 100%);
$endurance-input-gradient: linear-gradient(90deg, rgba(240,205,198,1) 0%, rgba(255,255,255,1) 100%);
$skills-gradient: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,179,179,1) 100%);
$background-description-gradient: linear-gradient(90deg, #331212 0%, #501212 100%);
$background-description-color: #ffffff;

$skill-heading-color: #d66666;
$skill-default-color: #f3f1f1;
$skill-default-border: #a8a4a5;
$skill-blue-color: #f7ece4;
$skill-blue-border: #c5b6a9;
$description-background: #f7ece4;
$description-border: #c5b6a9;

$chat-background: #ffffff;
$chat-color: #012533;
$chat-heading-background: #d66666;
$chat-heading-color: #ffffff;
$chat-test-success-color: #33d633;
$chat-test-failure-color: #d63333;
$chat-img-background: #d66666;
$chat-actor-border: dashed 1px #d66666;
$chat-button-border: solid 1px rgba(86,36,133,1);
$chat-button-color: $default-color;
$chat-button-background: $karma-input-gradient;



@import 'bootstrap/bootstrap-grid';
@import "custom/1-fonts";
@import "custom/2-windows";
@import "custom/3-sheet";
@import "custom/4-tests";
@import "custom/5-chat";

i{
    pointer-events: none;
}

#tinymce {
    overflow-y: hidden;
    overflow-x: hidden;
}

.editor-content ul {
    margin: 0px 0px;
}

body{
    font-family: "Saira Semi Condensed", sans-serif;

    font-size: 1em;
}

.input{
    max-width: 100%;
}

