<form class="{{cssClass}}" autocomplete="off">
  {{> systems/xenophobia/templates/itemsheet/partials/item-all-header.html}}
  <p><strong>Dom</strong></p>
  {{> systems/xenophobia/templates/itemsheet/partials/item-all-description.html}}
</form>
