.xenophobiasheet, .xenophobiaitemsheet, .xenophobiaroll {
  .window-content{
    background: $window-background-color;
  }
  input, textarea, select, .personal{
    background: $personal-info-gradient;
    border: solid 1px $default-color;
    border-radius: 0;
    padding: 5px 10px;
  }
  select{
    padding: unset;
    max-width: 100%;
  }
  .row{
    margin-bottom: .5em;
  }
  .characterImage{
    img{
      background: $personal-info-gradient;
    }
  }
  header.sheet-header {
  }
  label{
    overflow: hidden;
    display: block;
    input, .input, select, textarea{
      background: $personal-info-gradient;
      border: solid 1px $default-color;
      border-radius: 0;
      padding: 3px 10px;
      display: block;
      font-size: .9em;
      height: auto;
      width: 100%;
    }
    span{
      display: block;
      padding: 3px 10px;
      background: $default-heading-gradient;
      color: $default-heading-color;
      text-transform: uppercase;
      font-weight: bold;
      font-size: .6em;
      float: left;
      border-color: transparent transparent $default-color transparent;
      border-width: 0 20px 20px 20px;
    }

    &.nameField{
      input, select, textarea{
        font-size: 2em;
      }
      span{
      }
    }
    &.karma{
      input, select, textarea {
        background: $karma-input-gradient;
      }
      span{
        background: $karma-heading-gradient;
      }
    }
    &.endurance{
      input, select, textarea {
        background: $endurance-input-gradient;
      }
      span{
        background: $endurance-heading-gradient;
      }
    }
  }

  .text-right{
    text-align: right;
  }

  .tableitems{
    .tableheading{
      margin-bottom: 0;
      text-align: center;
      > div{
        background: $skill-heading-color;
        color: white;
        font-weight: bold;
        font-size: .7em;
        text-transform: uppercase;
        border: solid 1px #ffffff;
      }
    }
    .tablerow{
      margin-bottom: 0;
      >div{
        border: solid 1px #ffffff;
        position: relative;
        align-items: center;
        align-content: center;
      }
      .tableheader{
        background: $skills-gradient;
        text-align: left;
        font-weight: bold;
        font-size: .8em;
        a{
          display: block;
            &[data-main] {
                color: #cc0000;
            }
        }
      }
      .tabledescripion{
        padding-left: 0;
        padding-right: 0;
        display: none;
        > * {
          font-size: .8em;
          position: relative;
          border: solid 1px $description-border;
          background: $description-background;
          padding-left: 5px;
          padding-right: 5px;
          top: 0;
          left: 0;
          width: calc(100%);
          height: 100%;
        }
      }
      .tableinput{
        > *{
          font-size: .8em;
          position: absolute;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          top: 0;
          left: 0;
          padding-left: 5px;
          padding-right: 5px;
          text-align: center;
          width: 100%;
          height: 100%;
          border: solid 1px $skill-default-border;
          background: $skill-default-color;
        }
        &.tableinputblue{
          > * {
            border: solid 1px $skill-blue-border;
            background: $skill-blue-color;
          }
        }
      }
      .inline{
        >div, >p{
          display: inline;
        }
      }
    }
    &.tablebackgrounds {
      .tablerow {
        .tableheader {
          text-align: left;
        }
      }
    }
  }
  .sheet-tabs{
    margin: .8em 0;
    border-top: solid 1px $default-color;
    border-bottom: solid 1px $default-color;
    font-weight: bold;
    background: $sheet-tabs-gradient;
    .item{
      padding: 5px 10px;
      width: 100%;
    }
    .active{
      background: $active-tab-background;
      color: $active-tab-color;
      text-shadow: none;
    }
  }
}
