.chat-message {
    background: $chat-background;
    color: $chat-color;
    padding: 0;

    .message-header {
        background: $chat-heading-background;
        color: $chat-heading-color;
        padding: 3px 5px;
        font-weight: bold;
    }

    .message-content {
        padding: 3px 5px;
    }

    .testResult {
        .success {
            color: $chat-test-success-color;
        }

        .failure {
            color: $chat-test-failure-color;
        }
    }

    .actor {
        display: flex;
        margin: 5px 0;
        gap: 10px;
        padding: 0 0 5px 0;
        border-bottom: $chat-actor-border;

        .image {
            &:before {
                content: " ";
                padding-top: 100%;
                display: block;
            }

            width: 15%;
            max-width: 50px;
            background: no-repeat center center/contain $chat-img-background;
        }

        .name {
            font-size: 1.2em;
            font-weight: bold;
        }
    }

    .buttons {
        margin: 5px 0;
        text-align: center;

        a {
            display: inline-block;
            padding: 3px 10px;
            border-radius: 10px;
            font-weight: bold;
            border: $chat-button-border;
            color: $chat-button-color;
            background: $chat-button-background;
        }
    }
    .rolls{
        box-sizing: border-box;
        display: flex;
        padding: 3px 5px;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        .roll{
            width: 100%;
            > .rollshape{
                span{
                    background: $chat-test-failure-color;
                    color: $chat-heading-color;
                }
                &.success{
                    span{
                        background: $chat-test-success-color;
                        color: $chat-heading-color;
                    }
                }
            }
        }
        .sub-rolls{
            width: 100%;
            margin: 5px 0;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
    }
    .rollshape{
        font-weight: bold;
        text-align: center;
        width: 100%;
        span{
            display: inline-block;
            padding: 5px;
            border-radius: 2px;
            border: solid 1px $chat-button-color;
            color: $chat-button-color;
        }
    }
}
